<!DOCTYPE html>
<html>
  <head>
    <title>HomeSpun</title>
    <%= csrf_meta_tags %>

  </head>

    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>

  </body>
</html>
